@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Bashly Light Theme */
    --background: 210 40% 98%;
    --foreground: 200 70% 10%;

    --card: 0 0% 100%;
    --card-foreground: 200 70% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 70% 10%;

    --primary: 199 52% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 52% 93%;
    --secondary-foreground: 200 48% 23%;

    --muted: 199 52% 93%;
    --muted-foreground: 199 27% 48%;

    --accent: 107 100% 30%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 98% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 199 37% 80%;
    --input: 199 37% 80%;
    --ring: 199 48% 23%;

    --radius: 0.5rem;
  }

  .dark {
    /* Bashly Dark Theme */
    --background: 200 52% 5%;
    --foreground: 199 52% 93%;

    --card: 200 45% 7%;
    --card-foreground: 199 52% 93%;

    --popover: 200 45% 7%;
    --popover-foreground: 199 52% 93%;

    --primary: 199 52% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 27% 15%;
    --secondary-foreground: 199 52% 93%;

    --muted: 200 27% 15%;
    --muted-foreground: 199 31% 55%;

    --accent: 107 100% 60%;
    --accent-foreground: 200 70% 10%;

    --destructive: 0 90% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 199 31% 20%;
    --input: 199 31% 20%;
    --ring: 107 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
